
.faq-section {
  width: min(98%,1200px);
  margin: 2rem auto;
  border-radius: 6px;
  padding-inline: 1rem;
}

.faq-heading {
  text-align: center;
  letter-spacing: 1px;
  font-weight: 400;
  padding-top: 1rem;
}

.faq-items {
  display: flex;
  gap: 0.66rem;
  flex-direction: column;
  margin: 1rem auto;
  width: min(100% - 1rem, 60ch);
}

.faq-item {
  border: 2px solid rgb(22, 22, 44);
  border-radius: 6px;
}

.faq-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  width: 100%;
  padding: 0 0.33rem;
  border: none;
  border-radius: 6px;
  font-size: var(--step-1);
  background-image: #fadafa;
  color: var(--white-200);
  cursor: pointer;
  outline: transparent;
  word-break: break-word;
  text-align: left;
  text-wrap: balance;
}

.faq-question p {
  width: min(100% - 1rem,40ch  );
  line-height: 1.4;
}

.faq-question:hover,
.faq-question:focus,
.faq-question:focus-visible {
  outline: 2px solid var(--green-400);
  outline-offset: 3px;
}

.faq-answer {
  height: 0;
  overflow: hidden;
  padding: 0 20px;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background-color: var(--white-200);
  transition: height 0.3s ease;
  line-height: 1.4;
}

.arrow {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: solid #2229;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  margin-right: 10px;
  margin-bottom: 0.5rem;
}

.faq-item.active .faq-answer {
  height: auto;
  padding: 10px 20px;
}
